# Byte-compiled / optimized / DLL files
*.py[cod]

# PyCharm project files
.idea/

# Vim / Notepad++ temp files
*~

# PyInstaller output
build/
dist/
*.spec

# PyBuilder output
.build/
result/

# Coverage output
.coverage